.sidebar{
    width: 25%;
    border-right: 1px solid #e7e7e7    ;
    border-top: 1px solid #e7e7e7    ;
    margin-right: 1rem;
    
    .menuItem{
        padding: 1rem;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .8rem;
        }
        .panel{
            padding: .5rem;
            input{
                margin-right: .8rem;
            }
        }
        .panelContainer{
            border-bottom: 1px solid #e7e7e7;
        }
    }
}