.catalog{
            width: 75%;

    .catalogGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    }
    button{
        background-color: var(--white-color);
                border: 1px solid var(--primary-color);
                display: block;
                width: 9rem;
                padding: .5rem;
                border-radius: 5px;
                color: var(--primary-color);
                margin: 2rem auto;
                cursor: pointer;
                &:hover{
                    color: var(--white-color);
                    background-color: var(--primary-color);
                }
    }
}