.menu{   
     background:  url("../../assets/grbkda.png") no-repeat ;
     background-position: 10% 0%;
     background-size: cover;
     
     
    .navbar{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    z-index: 30;
    .logo{
        svg{
            cursor: pointer;
             path{
                 fill: var(--white-color);
            }
            margin-right: 1.2rem;
            width: 1.5rem;
        
        }
        
        img{
            object-fit: contain;
            width: 10rem;
        }
        a{
            text-decoration: none;
        }
    }
    .links{
        margin-left: 10rem;
        ul{
            a{
                margin-right: 2rem;
                color: var(--white-color);
                text-decoration: none;
                }
            li{
                
                display: inline-block;
                margin-right: 2rem;
                list-style-type: none;
                color: var(--white-color);
                cursor: pointer;
            }
        }
    }
    .icons{
        cursor: pointer;
        svg{
            margin-right: 1.2rem;
            width: 1.5rem;
            
            path{
                fill: var(--white-color);
           }
           &:hover{
               path{fill: var(--primary-color);}
           }
        }
    }
}
}

